img {
    width: 100%;
}
#index {
    margin: 20px 0;
}
#index p {
    font-size: 20px;
}
#index p #pageName {
    color: #279bfe;
}

products {
    width: 100%;
    display: inline-flex;
}

@media screen and (max-width: 270px) {
    #index p {
        font-size: 10px;       
    }
}